// Styling for the download section
section.download {
    position: relative;
    padding: 100px 0;
    h2 {
        font-size: 50px;
        margin-top: 0;
    }
    .main-paragraph {
      margin-bottom: 50px;
    }
    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .card {
            width: 350px;
            margin-bottom: 4rem;
            .btn {
              text-transform: none;
            }
            @media(min-width: 768px) {

            }
            &:hover {
              box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
            }
        }
        .card-title {
          font-weight: 500;
        }
    }
    @media(min-width: 768px) {
        h2 {
            font-size: 50px;
        }
    }
}
